.header {
  padding: 45px 0 38px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  max-width: 880px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-left: 200px;
}

@media (max-width: 900px) {
  .header {
    margin-left: 27px;
    padding-top: 28px;
    padding-bottom: 27px;
  }
}

@media (max-width: 425px) {
  .header {
    margin-left: 0px;
  }
}