.popup__button-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/krestik.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup__button-close:hover {
  color: #000;
  opacity: 60%;
  transition: 0.5s ease-in-out;
}

@media (max-width: 650px) {
  .popup__button-close{
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
    background-size: cover;
  }
}