.footer__description {
  font-size: 18px;
  line-height: 22px;
  max-width: 318px;
  color: #545454;
  margin: 0;
}

@media (max-width: 900px) {
  .footer__description {
    margin: 0 auto;
    margin-left: 19px;
    font-size: 14px;
    line-height: 17px;
  }
}