.popup__button-submit {
  background-color: #000;
  color: #fff;
  width: 358px;
  height: 50px;
  margin: 48px 0px 37px;
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
}

.popup__button-submit:hover {
  color: #000;
  opacity: 15%;
  transition: 0.5s ease-in-out;
}

@media (max-width: 650px) {
  .popup__button-submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}